<div class="reply" id="comment_reply_<%=comment.id%>">             
 <%= image_tag reply.user.avatar.url(:thumb),:class=>"img-circular",:size => "50x50"%>
  <% if reply.id.present? %>
    <% reply.images.each do |image|%>
      <%= image_tag image.avatar.url(:medium) %>   
    <%end%>
  <br><%= reply.body%><br>
  <h5><span>Shared publicly</span> - <span><%=time_ago_in_words(reply.created_at, include_seconds: true)%></span> </h5>
  <div class="dropdown pull-right">
      <span class="dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="[ glyphicon glyphicon-chevron-down ]"></span>
      </span>           
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to "Edit",edit_post_comment_reply_path(post,comment,reply)%></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to "Show",post_comment_reply_path(post,comment,reply)%></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to "Delete",post_comment_reply_path(post,comment,reply),method: :delete,remote:true%></a></li>
      </ul>
  </div>
  <div class="reply_like" id="reply_like_<%=reply.id%>">
    <%= render "likes/like_reply",:post=>post,:comment=>comment,:reply=>reply%>
  </div>  
<%end%>
</div>
<div class="clearfix`"></div>
